#mostrador{
		margin: auto;
		width: 500px;
		height: 80px;

		}

.espaco{
		width:190px;
		height: 130px;
		border:2px 
		solid #000;
		float: left;
		text-align: center;
		padding-top: 20px;
		}

.tabuleiro{
		width: 592px;
		height: 592px;
		margin: auto;
		}
body{
	background-image: url(imagens/dd.jpg);
	background-size:cover;
	background-position: center;
}

h1 {
	float: left; 
	margin-right: 10px;
	color: white;
}

img {
	width: 35%;
	height: auto;
	}

.espaco img{
	width: 65%;
	height: auto;
}
 button{
 	width: 30%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px;
    object-position: center;
 }
 
 #bt{
	text-align: center;
 }
